<style>
#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 2s;
}

#page-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
}
</style>

<script type="text/javascript">
    let canvas = document.createElement("canvas");
    canvas.id = "canvas";

    {# const filter = document.getElementById("page-filter"); #}

    const background = document.getElementById("page-background");

    // add canvas before the filter object
    background.insertBefore(canvas, background.firstChild);

    var Module = {
        canvas: canvas,
        onRuntimeInitialized() {
            canvas.style.opacity = 1;
        },
    };
</script>
<script async type="text/javascript" src="/assets/projects/clouds/data/clouds.js"></script>
