<style>
    .checkbox-wrapper #background-checkbox {
        appearance: none;
        background-color: #dfe1e4;
        border-radius: 72px;
        border-style: none;
        flex-shrink: 0;
        height: 20px;
        margin: 0;
        position: relative;
        width: 30px;
    }

    .checkbox-wrapper #background-checkbox::before {
        bottom: -6px;
        content: "";
        left: -6px;
        position: absolute;
        right: -6px;
        top: -6px;
    }

    .checkbox-wrapper #background-checkbox,
    .checkbox-wrapper #background-checkbox::after {
        transition: all 100ms ease-out;
    }

    .checkbox-wrapper #background-checkbox::after {
        background-color: #fff;
        border-radius: 50%;
        content: "";
        height: 14px;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 14px;
    }

    .checkbox-wrapper #background-checkbox:hover {
        background-color: #c9cbcd;
        transition-duration: 0s;
    }

    .checkbox-wrapper #background-checkbox:checked {
        background-color: #6e79d6;
    }

    .checkbox-wrapper #background-checkbox:checked::after {
        background-color: #fff;
        left: 13px;
    }

    .checkbox-wrapper :focus:not(.focus-visible) {
        outline: 0;
    }

    .checkbox-wrapper #background-checkbox:checked:hover {
        background-color: #535db3;
    }

</style>

{% set active_page = page.url | url %}

<header class="header" role="banner">
    <nav id="header-nav" class="navbar">
        <div id="menu-toggle">
            <input class="menu-toggle-input" type="checkbox" />

            <span></span>
            <span></span>
            <span></span>

            <div id="menu">
                {% for item in navigation.top %}
                    <a 
                        href="{{item.url}}"
                        class="header-menu-item"
                        {% if helpers.getLinkActiveState(item, active_page) %}
                            aria-current="page"
                            id="header-link-current"
                        {% endif %}

                    >
                        {{ item.name }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="background-toggle-container">
            <div class="background-toggle">
                <label id="toggle-label" for="background-checkbox"> Disable background </label>
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="background-checkbox" onclick="background_toggle(this)">
                </div>
            </div>
        </div>
    </nav>
</header>

<script>
    let webgl_canvas = null;

    function toggleBackground(is_enabled) {
        Module.setRunning(is_enabled);
        sessionStorage.setItem("background-disable", !is_enabled);
    }

    document.addEventListener("DOMContentLoaded", function(arg) {
        let is_disabled = sessionStorage.getItem("background-disable") === "true";
        document.getElementById("background-checkbox").checked = is_disabled;
    });

    function background_toggle(checkbox) {
        toggleBackground(!checkbox.checked);
    }
</script>