.header {
    width: 100%;
    background-color: #383838;
}

#header-nav {
    display: flex;
    justify-content: center;

    padding: 0;
    height: 100%;
    text-align: center;
    align-items: center;
}

.menu-toggle-input {
    display: none;
}

#menu-toggle span {
    display: none;
}

#menu {
    display: flex;
    gap: 30px;
}

.header-menu-item {
    text-decoration: none;
    text-transform: uppercase;
    border: 0 solid var(--text-color);

    color: var(--text-color);
    opacity: 0.5;
    transition: all .2s;
}

#menu-toggle a:hover {
    opacity: 1;
}

#header-link-current {
    opacity: 1;
    border-bottom-width: 2px;
}    

.background-toggle-container {
    position: absolute;
    right: 30px;
    height: 60px;
}

.background-toggle {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.background-toggle label {
    display: inline-block;
    line-height: 25px;
    vertical-align: text-top;
    user-select: none;
    cursor: pointer;
}

.checkbox-wrapper {
    display: flex;
    cursor: pointer;
}

.checkbox-wrapper input {
    cursor: pointer;
}