.header {
    width: 100%;
    background-color: #383838;
}

#header-nav {
    display: flex;
    gap: 9px;
    justify-content: center;

    text-align: center;
    padding: 0;
    /* line-height: 3em; */
    height: 100%;
    text-align: center;
    align-items: center;
}

.header-link {
    border: 0 solid var(--text-color);
    text-transform: uppercase;
    margin: 0 9px 0 9px;
    /* margin: 0 9px 15px 9px; */
    /* margin-bottom: 15px; */
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.5;
    transition: all .2s;
}

.header-link:hover {
    opacity: 1;
}

#header-link-current {
    opacity: 1;
    border-bottom-width: 2px;
}