---
layout: base
---

<link rel="stylesheet" href="/css/background.css">

<style>
    .contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-icon svg {
        font-size: 1.4em;
        margin-right: 20px;
        height: 1em;
        width: 1em;
        fill: var(--text-color);
        vertical-align: -20%;
    }

    .contact-link {
        color: var(--text-color);
        text-decoration: none;
        opacity: .8;
    }

    .contact-item {
        display: flex;
        gap: 20px;
        justify-content: flex-start; 
        align-items: center;
    }
</style>

{% include "clouds-scene.njk" %}

<h1 class="title">{{ content | safe }}</h1>

<div class="contact">
    {% for name, item in social %}
        <div class="contact-item">
            <span class="contact-icon">
                {% set include_link = ["logos/", item.icon, ".svg"] | join %}
                {% include include_link %}
            </span>
            <a class="contact-link" href="{{item.url}}">{{item.text}}</a>
        </div>
    {% endfor %}
</div>
