---
layout: base
---

<link rel="stylesheet" href="/css/project-page.css">
<link rel="stylesheet" href="/css/background.css">

{% if background %}
    <style>
    #page-background {
        background-image: url("/assets/projects/{{dir}}/{{background}}");
    }
    </style>
{% endif %}

{% set proj = projects.getProject(title) %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="page-content">
    <h1 class="title">{{ title }}</h1>
    <hr>
    {% if download or source %}
        <div class="top-items">
            {% if download %}
                <a target="_blank" href="{{download}}" class="top-link">
                    <div class="download top-item">
                        <span class="top-icon">
                            {% include "logos/itchio.svg" %}
                        </span>
                        <span class="top-text">Download</span>
                    </div>
                </a>
            {% endif %}

            {% if source %}
                <a target="_blank" href="{{source}}" class="top-link">
                    {% if download %}
                        <span class="top-text">Source</span>
                    {% endif %}

                    <div class="source top-item">
                        <span class="top-icon">
                            {% include "logos/github.svg" %}
                        </span>
                    </div>

                    {% if not download %}
                        <span class="top-text">Source</span>
                    {% endif %}
                </a>
            {% endif %}
        </div>
    {% endif %}
    {# <br> #}
    {{ content | safe }}
</div>

{% if proj.images %}
<div class="page-images">
    {% for img in proj.images %}
        <div class="image-container elevated" onclick="openCarousel({{loop.index}})">
            <div class="page-image" style="background-image: url('{{img.src}}')"></div>
        </div>
    {% endfor %}
</div>
{% endif %}

<script>

function resize_content() {
    const page_images = document.querySelector(".page-images"); 
    const content = document.getElementById("main-content");
    if (page_images) {
        const height = window.getComputedStyle(page_images).height;
        content.style["min-height"] = height;
    }
}

resize_content();

window.onresize = resize_content;

var current_image = 0;
const images = [
{% for img in proj.images %}
    {
        "src": "{{img.src}}",
    },
{% endfor %}
];

var image_carousel = null;
var just_opened = false;
const arrow_left = document.querySelector(".arrow-left");
const arrow_right = document.querySelector(".arrow-right");
const carousel = document.querySelector(".carousel");

function change_image() {
    if (image_carousel) {
        image_carousel.src = images[current_image].src;
    }
}

window.onload = () => {
    image_carousel = document.getElementById("carousel-image");
    change_image();
}

function image_prev() {
    current_image -= 1;
    if (current_image < 0) current_image = images.length - 1;
    change_image();
}

function image_next() {
    current_image += 1;
    if (current_image >= images.length) current_image = 0;
    change_image();
}

function checkExitCarousel(e) {
    if (just_opened) {
        just_opened = false;
        return;
    }

    const type = e.target.localName;
    const id = e.target.id;
    const klass = e.target.className;
    const parent =  e.target.parentNode;
    
    if (id === "carousel-image" ||
        klass === "arrow-left" ||
        klass === "arrow-right" ||
        (type === "svg" && (parent.className === "arrow-left" || parent.className === "arrow-right"))
    ) {
        return;
    }

    closeCarousel();
}

function openCarousel(index) {
    current_image = index - 1;
    change_image();

    just_opened = true;
    window.addEventListener("click", checkExitCarousel);
    carousel.style["display"] = "block";
}

function closeCarousel() {
    window.removeEventListener("click", checkExitCarousel);
    carousel.style["display"] = "none";
}

</script>

